<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer">
    <div class="mb-3">
      <label for="ask" class="form-label">ask your coach anything: </label>
      <div class="input-group">
        <input type="text" class="form-control" name="ask">
        <input type="submit" class="btn btn-primary" value="ask">
      </div>
    </div>
  </form>
</div>
